/* fonts */

@font-face {
  font-family: titleFont;
  src: url("../assets/fonts/Kayak-Bold.woff") format("woff"),
    url("../assets/fonts/Kayak-Bold.woff2") format("woff2");
}

@font-face {
  font-family: bodyFont;
  src: url("../assets/fonts/kayak-regular.woff") format("woff"),
    url("../assets/fonts/kayak-regular.woff2") format("woff2");
}
/* root variables */
:root {
  --background-default: #eeedff;
  --text-color-default: #6c63ff;
}
/* Main CSS */
body {
  background-color: var(--backgrounsd-default);
  color: var(--text-color-default);
  font-family: bodyFont;
}

h1 {
  font-family: titleFont;
}

.body-border{
    border: 5px solid var(--text-color-default);
    height: 100vh;
}
/* navbar */

.NavBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.brand-title{
    margin: 0 0 0 1.5rem;
}

.NavBar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.NavBar-links li{
    list-style: none;
    
    
}

.NavBar-links a:hover{
    color: #6c63ff9e;
}

.NavBar-links a{
    text-decoration: none;
    color: var(--text-color-default);
    padding: 1.5rem;
    display: block;
    transition: all .3s ease-in-out;
}

/* hamburger menu */
.menu-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all .5 ease-in-out;
    border: 2px solid var(--text-color-default);
}

.menu-btn_burger{
    width: 16px;
    height: 2px;
    background: var(--text-color-default);
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn_burger::before,
.menu-btn_burger::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    background: var(--text-color-default);
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn_burger::before{
    transform: translateY(-6px);
}

.menu-btn_burger::after{
    transform: translateY(6px);
}