{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-12 outdoor">
        <button type="button" id="outdoor-button"></button>
        <img src="{{url_for('static', filename='assets/images/Outdoor.svg')}}" alt="" class="landing-img img-fluid">

    </div>
    <div class="col-12 urban">
        <button type="button" id="urban-button"></button>
        <img src="{{url_for('static', filename='assets/images/urban.svg')}}" alt="" class="landing-img img-fluid">
    </div>
</div>
<div class="row social-row">
    <div class=" col-sm-12 col-md-6 ">
    <h1 class="heading-text">In a time of social distancing...</h1>
    <p class="paragraph-text">Many of are streets lay bare & empty. Throughout lockdown more and more of us are forced into isolation. All over the country
        we've been made to come up with new and inventive ways to stay connected. Yet something is still missing... </p>
    </div>
    <div class="social-distancing-bg col-sm-12 col-md-6">
        <img class="social-distance-image" src="{{url_for('static', filename='assets/images/social_distancing.svg')}}" alt="social distancing image">
        <img class="empty-street-image" src="{{url_for('static', filename='assets/images/empty_street.svg')}}" alt="social distancing image"> 
    </div>
</div>

<div class="row park-row">
<div class="col-sm-12 col-md-6 park-bg">
        <img class="park-image" src="{{url_for('static', filename='assets/images/lonely_road.svg')}}" alt="park image"> 
</div>
<div class="col-sm-12 col-md-6 journey-div">
    <h1 class="journey-heading">Our Journey...</h1>
    <p class="journey-text">has been long, and for many quite a solitary one. We know that facing yet another lockdown isn't easy. But we believe you don't have to do it alone.</p>
</div>
</div>
<div class="stroll-row row">
    <div class="stroll-div col-12">
        <h1 class="stroll-heading">Introducing Stroll!</h1>
        <p class="stroll-tagline">One community. Walking alone, together.</p>
        <img class="stroll-introducing-image" src="{{url_for('static', filename='assets/images/celebrate.svg')}}" alt="park image">
        <div class="signup-box">
            <button class="signup-button-style"><a href="{{url_for('register')}}">Sign up now</a></button>
        </div>
    </div>
</div>


{% endblock %}