{% extends "base.html" %} {% block content %}
<div  class="container userAuth">
<div class="row">
  <form class="col-12" method="POST" action="{{ url_for('login') }}">
    <div class="card log-in-card text-center">
      <div class="card-header ">Sign in</div>
      <div class="card-body ">
        <!--USERNAME-->
        <div class="form-group">
          <label for="UserID">Username</label>
          <input
            type="text"
            class="form-control"
            minlength="5"
            maxlength="15"
            pattern="^[a-zA-Z0-9]{5,15}$"
            name="UserID"
            id="UserID"
            placeholder="Username"
          />
        </div>
        <!--PASSWORD-->
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            minlength="5"
            maxlength="15"
            pattern="^[a-zA-Z0-9]{5,15}$"
            placeholder="Password"
          />
        </div>
        <button type="submit" class="btn btn-primary ">Sign In</button>
      </div>
      <div class="card-footer ">
      Not already a user? Then <a href="{{url_for('register')}}">register</a> here!
      </div>
    </div>
  </form>
</div>
</div>
{% endblock %}
