{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="row">
        <div class="user-profile col-12">
            <div class="card profile-card">
                <div class="card-body">
                    <div class="row">
                        <div class="pic-and-name col-12 col-md-3">
                            <img src="{{url_for('static', filename='assets/images/avatar.svg')}}" width="120"
                                height="120" class="rounded-circle float-left profile-picture " alt="avatar" />
                            <h4 class="fullname">{{ UserID }}</h4>
                        </div>
                        <div class="stroll-total user-stats col-4 col-md-3">
                            <h4>{{strolls}}</h4>
                            <h4 class="">Strolls</h4>
                        </div>
                        <div class="cycle-total user-stats col-4 col-md-3">
                            <h4>{{cycles}}</h4>
                            <h4 class="">Cycles</h4>
                        </div>
                        <div class="post-total user-stats col-4 col-md-3">
                            <h4>{{posts}}</h4>
                            <h4 class="">posts</h4>
                        </div>
                        <div class="row"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 user-bio">
            <div class="card profile-card biography">
                <div class="card-body biography">
                    <p>{{bio}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 my-walks">
            <button type="button" class="btn btn-lg btn-dark"><a href="{{url_for('my_walks')}}">My Walks</a></button>
        </div>
    </div>
</div>
{% endblock %}