{% extends "base.html" %}
{% block content %}
<div id="card-section" class="row">
    {% for walk in walks %}
    <div class="card-wrapper col-lg-4 col-md-12">
        <div class="card">
            <div class="card walk-card">
                <img src="https://res.cloudinary.com/tumascloud/{{walk.img_id}}" width="120" class="card-img-top"
                    alt="not found">
                <div class="card-body">
                    <h5 class="card-title">{{ walk.walk_name }}</h5>
                    <p class="card-text">{{ walk.walk_description }}</p>
                    <!-- Button trigger for modal -->
                    <button type="button"
                        onclick="renderRoute({{ walk.start_point.lat }}, {{walk.start_point.lng}}, {{walk.end_point.lat}}, {{ walk.end_point.lng }}, {{ loop.index }} );"
                        class="btn comment-button-styles btn-primary" data-toggle="modal"
                        data-target="#myModal{{ loop.index }}">
                        Expand
                    </button>
                    <!--button trigger for comment section-->
                    <button class="btn comment-button-styles btn-primary ml-1" data-toggle="collapse"
                        data-target="#comment-section{{ loop.index }}"><i class="far fa-comment-dots"></i></button>
                    <button class="btn comment-button-styles btn-primary "><i class="far fa-heart"></i></button>
                    <p class="card-text"><small class="small-text-style">location: </small>{{ walk.location }}</p>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="collapse" id="comment-section{{ loop.index }}">
                            <form method="POST" action="{{url_for('comment')}}">
                                <div class=" d-flex mb-1">
                                {% if session["user"] %}
                                    <label hidden for="add_comment{{ loop.index }}" class="form-label mb-1"></label>
                                    <textarea class="form-control col" id="add_comment{{ loop.index }}"
                                        name="add_comment" placeholder="Paint us a word picture..." rows="3"></textarea>
                                    <input hidden name="comment_index" type="text" value="{{walk.walk_name}}">
                                </div>
                                <div class="comment-button mb-4">
                                    <button type="submit"
                                        class="btn btn-primary comment-button-styles col-4">comment</button>
                                </div>
                                {% else %}
                                <label hidden for="add_comment{{ loop.index }}" class="form-label mb-1"></label>
                                <textarea class="form-control col" id="add_comment{{ loop.index }}" name="add_comment"
                                    placeholder="You must create a user to comment." rows="3" disabled></textarea>
                                <input hidden name="comment_index" type="text" value="{{walk.walk_name}}">
                                </div>
                                {% endif %}
                            </form>
                                 <div class="row comment-row-sec">
                                 {% for comment in comments %}
                                 {% if comment.comment_index == walk.walk_name %}
                                    <div class="col">
                                        <p class="comment-text">"{{comment.comment_body}}" -
                                        <em><small>{{comment.created_by}}</small></em></p>
                                        <hr class="hr-style">
                                    </div>
                                 {% endif %}
                                 {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal{{ loop.index }}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ walk.walk_name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ walk.walk_description }}
                <p><em>{{ walk.created_by }}</em></p>

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        Environment: {{ walk.environment}}

                    </div>
                    <div class=" col-6">
                        Location: {{ walk.location}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        Distance: {{ walk.distance}}
                    </div>
                    <div class=" col-6">
                        Duration: {{ walk.duration}} <br>
                        Cycle Duration: {{ walk.cycle_duration }}
                    </div>
                </div>
                <div class="row">
                    {% if walk.bike_path == "Y" %}
                    <div class="col-6">
                        Bike Path: <i class="fas fa-check-circle"></i>
                    </div>
                    {% else %}
                    <div class="col-6">
                        Bike Path: <i class="fas fa-times-circle"></i>
                    </div>
                    {% endif %}
                    {% if walk.difficulty == "1" %}
                    <div class=" col-6">
                        Difficulty: <i class="fas fa-star"></i>
                    </div>
                    {% elif walk.difficulty == "2" %}
                    <div class=" col-6">
                        Difficulty: <i class="fas fa-star"></i><i class="fas fa-star"></i>
                    </div>
                    {% else %}
                    <div class=" col-6">
                        Difficulty: <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                    </div>
                    {% endif %}
                </div>
                <div class="row modal-map">
                    <div class="col-12 map-visual" id="map{{loop.index}}">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

{% endfor %}
</div>

{% endblock %}